body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: powderblue;
}

h1 {
  color: blue;
  margin: 40px
}

p {
  color: rgb(119, 103, 4);
}

.d-flex {
  display: flex;
}

.gap-3 {
  gap: 20px;
}

.w-300 {
  width: 300px;
}
ul {
  list-style: none;
}

.justify-between {
  justify-content: space-between;
}

img {
  margin: 45px; 
}

th {
  background-color: rgb(119, 103, 4); 
  font-style: bold;
  color: rgba(0, 0, 3, 0.964);  
}



tr {
  background-color: #f9f9fb;
}

table {
  border-collapse: collapse;
  width: 25%;
  margin: 40px;
}

table,
th,
td {
  border: 1px solid black;
}
